

<!--User Login-->


<div class="span6 well offset3">

    <h5 class="title-bg">Авторизация</h5>


    <ul class="nav nav-tabs">
        <li class="active"><a href="#singIn" data-toggle="tab">Вход</a></li>
        <li><a href="#registration" data-toggle="tab">Регистрация</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="singIn">
            <ul>
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-envelope"></i></span>
                    <input class="span5" id="loginEmail" size="16" type="text" placeholder="Email">
                </div>
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-lock"></i></span>
                    <input class="span5" id="loginPass" size="16" type="text" placeholder="Пароль">
                </div>
            </ul>

            <br>
            <button class="btn btn-large btn-inverse span5" type="button">Войти</button>
        </div>
        <div class="tab-pane" id="registration">
            <ul>
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-user"></i></span>
                    <input class="span5" id="regLogin" size="16" type="text" placeholder="Логин">
                </div>
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-envelope"></i></span>
                    <input class="span5" id="regEmail" size="16" type="text" placeholder="Email">
                </div>
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-lock"></i></span>
                    <input class="span5" id="regPass" size="16" type="text" placeholder="Пароль">
                </div>
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-lock"></i></span>
                    <input class="span5" id="regRepeatedPass" size="16" type="text" placeholder="Повторите пароль">
                </div>
            </ul>

            <br>
            <button class="btn btn-large btn-inverse span5" type="button">Зарегистрироваться</button>
        </div>

    </div>
</div>




