

<div class="span9 gallery-single">

    <div class="row">
        <div class="span4">
            <img src="~/img/Sherlock.jpg" class="align-left thumbnail" alt="image" />
        </div>
        <div class="span5">
            <h2>Custom Illustration</h2>
            <p class="lead">For an international ad campaign. Nulla iaculis mattis lorem, quis gravida nunc iaculis ac. Proin tristique tellus in est vulputate luctus</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla iaculis mattis lorem, quis gravida nunc iaculis ac. Proin tristique tellus in est vulputate luctus fermentum ipsum molestie. Vivamus tincidunt sem eu magna varius elementum. Maecenas felis tellus, fermentum vitae laoreet vitae, volutpat et urna. Nulla faucibus ligula eget ante varius ac euismod odio placerat. Nam sit amet felis non lorem faucibus rhoncus vitae id dui.</p>

            <ul class="project-info">
                <li><h6>Date:</h6> 09/12/15</li>
                <li><h6>Client:</h6> John Doe, Inc.</li>
                <li><h6>Services:</h6> Design, Illustration</li>
                <li><h6>Art Director:</h6> Jane Doe</li>
                <li><h6>Designer:</h6> Jimmy Doe</li>
            </ul>

            <button class="btn btn-inverse pull-left" type="button">Читать</button>
        </div>
    </div>

    <!-- Post Comments
        ================================================== -->
    <section class="comments">
        <h4 class="title-bg"><a name="comments"></a>Всего 5 отзывов </h4>
        <ul>
            <li>
                @*<img src="img/user-avatar.jpg" alt="Image" />*@
                <span class="comment-name">John Doe</span>
                <span class="comment-date">March 15, 2015 | <a href="#">Reply</a></span>
                <div class="comment-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam venenatis, ligula quis sagittis euismod, odio ante molestie tortor, eget ullamcorper lacus nunc a ligula. Donec est lacus, aliquet in interdum id, rutrum ac tellus. Ut rutrum, justo et lobortis commodo, est metus ornare tortor, vitae luctus turpis leo sed magna. In leo dolor, suscipit non mattis in.</div>
                <!-- Reply -->
                <ul>
                    <li>
                        @*<img src="img/user-avatar.jpg" alt="Image" />*@
                        <span class="comment-name">Jason Doe</span>
                        <span class="comment-date">March 15, 2015 | <a href="#">Reply</a></span>
                        <div class="comment-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam venenatis, ligula quis sagittis euismod, odio ante molestie tortor, eget ullamcorper lacus nunc a ligula. Donec est lacus, aliquet in interdum id, rutrum ac tellus. Ut rutrum, justo et lobortis commodo, est metus ornare tortor, vitae luctus turpis leo sed magna. In leo dolor, suscipit non mattis in.</div>
                    </li>
                    <li>
                        @*<img src="img/user-avatar.jpg" alt="Image" />*@
                        <span class="comment-name">Jason Doe</span>
                        <span class="comment-date">March 15, 2015 | <a href="#">Reply</a></span>
                        <div class="comment-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam venenatis, ligula quis sagittis euismod, odio ante molestie tortor, eget ullamcorper lacus nunc a ligula. Donec est lacus, aliquet in interdum id, rutrum ac tellus. Ut rutrum, justo et lobortis commodo, est metus ornare tortor, vitae luctus turpis leo sed magna. In leo dolor, suscipit non mattis in.</div>
                    </li>
                </ul>
            </li>
            <li>
                @*<img src="img/user-avatar.jpg" alt="Image" />*@
                <span class="comment-name">John Doe</span>
                <span class="comment-date">March 15, 2015 | <a href="#">Reply</a></span>
                <div class="comment-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam venenatis, ligula quis sagittis euismod, odio ante molestie tortor, eget ullamcorper lacus nunc a ligula. Donec est lacus, aliquet in interdum id, rutrum ac tellus. Ut rutrum, justo et lobortis commodo, est metus ornare tortor, vitae luctus turpis leo sed magna. In leo dolor, suscipit non mattis in.</div>
            </li>
            <li>
                @*<img src="img/user-avatar.jpg" alt="Image" />*@
                <span class="comment-name">John Doe</span>
                <span class="comment-date">March 15, 2015 | <a href="#">Reply</a></span>
                <div class="comment-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam venenatis, ligula quis sagittis euismod, odio ante molestie tortor, eget ullamcorper lacus nunc a ligula. Donec est lacus, aliquet in interdum id, rutrum ac tellus. Ut rutrum, justo et lobortis commodo, est metus ornare tortor, vitae luctus turpis leo sed magna. In leo dolor, suscipit non mattis in.</div>
            </li>

        </ul>

        <!-- Comment Form -->
        <div class="comment-form-container">
            <h6>Написать отзыв</h6>
            <form action="#" id="comment-form">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-user"></i></span>
                    <input class="span4" id="prependedInput" size="16" type="text" placeholder="Name">
                </div>
                <textarea class="span6"></textarea>
                <div class="row">
                    <div class="span2">
                        <input type="submit" class="btn btn-inverse" value="Опубликовать">
                    </div>
                </div>
            </form>
        </div>
      </section>

</div><!-- End gallery-single-->
