
    <div class="span3 sidebar page-left-sidebar">

        <div class="input-append">
            <form action="#">
                <input id="appendedInputButton" size="16" type="text" placeholder="Поиск"><button class="btn" type="button"><i class="icon-search"></i></button>
            </form>
        </div>

        <h5 class="title-bg">Жанры</h5>
        <ul class="post-category-list">
            <li><a asp-controller="BooksCategories" asp-action="BooksCategories"><i class="icon-plus-sign"></i>Фентези и Фантастика</a></li>
            <li><a asp-controller="BooksCategories" asp-action="BooksCategories"><i class="icon-plus-sign"></i>История</a></li>
            <li><a asp-controller="BooksCategories" asp-action="BooksCategories"><i class="icon-plus-sign"></i>Классика</a></li>
            <li><a asp-controller="BooksCategories" asp-action="BooksCategories"><i class="icon-plus-sign"></i>Прикоючения</a></li>
            <li><a asp-controller="BooksCategories" asp-action="BooksCategories"><i class="icon-plus-sign"></i>Наука и образование</a></li>
            <li><a asp-controller="BooksCategories" asp-action="BooksCategories"><i class="icon-plus-sign"></i>Ужасы</a></li>
            <li><a asp-controller="BooksCategories" asp-action="BooksCategories"><i class="icon-plus-sign"></i>Философия</a></li>
            <li><a asp-controller="BooksCategories" asp-action="BooksCategories"><i class="icon-plus-sign"></i>Детектив</a></li>
        </ul>
    </div><!-- End sidebar column -->
