<div class="row header">
    <!-- Begin Header -->
    <!-- Logo
    ================================================== -->
    <div class="span5 logo">
        <a asp-controller="Home" asp-action="Index"><img src="~/img/piccolo-logo.png" alt="" /></a>
        <h4>Читай любимые книги бесплатно</h4>
    </div>




    <!-- Main Navigation -->
    <div class="navigation">

        <div class="navbar">

            <ul class="nav">
                <li><a asp-controller="Home" asp-action="Index">Главная</a></li>
                <li><a asp-controller="Home" asp-action="About">Топ 100</a></li>
                <li><a asp-controller="Home" asp-action="About">Новое</a></li>
                <li><a asp-controller="Home" asp-action="About">Блог</a></li>
            </ul>
        </div>
    </div>

</div><!-- End Header -->
